<div class="margin-header"></div>
<div class="spacer-lg"></div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="box-title mb-3">
            <p class="font-fm text-center align-items-center p-0"> {{discount.title }}
            </p>
        </div>

        <div class="box-info">
            <ul *ngFor="let item of arrDescr" class="list-group">
                <li class="list-group-item-normal border-0"> {{ item }} </li>
            </ul>
        </div>
    </div>

</div>

