<div class="margin-header"></div>
<div class="spacer-md font-fm"></div>
<div class="container-fluid">
    <div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-12 text-center">
            <div class="center-info">
                <h2 class="title text-about font-fm" data-test="bool(false)"></h2>
            </div>
        </div>
    </div>
    <div class="spacer-md font-fm"></div>

    <div class="container">
        <div class="row sm-banner-info">
            <div class="col-xl-10 col-lg-12 col-12 text-center">
                <div class="center-info font-fm">
                    <h3>Monosushi – доставка неймовірно смачних суші у Львові.</h3>
                    <p>Головний пріоритет – висока якість їжі та сервісу. Ми – команда професіоналів, яка щодня працює
                        для
                        Вас. Якість та Швидкість! – це два основних пріоритети в роботі команди. В першу чергу звичайно
                        ж
                        Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А завдяки сучасним
                        технологіям та
                        відповідальному навчанню працівників, свіжі страви можливо доставляти до 59 хв в 75% замовлень.
                    </p>
                    <ul>
                        <li>висока якість їжі та сервісу</li>
                        <li>команда професіоналів</li>
                        <li>сучасні технології приготування</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row d-flex justify-content-center"> -->
    <div class="spacer-md font-fm"></div>
    
    <div class="container">
        <div class="card mb-3 card-border">
            <div class="row g-0">
                <div class="col-lg-6 col-6">
                    <!-- <div class="block-img"> -->
                    <img src="../../../assets/images/img_1127-scaled-568x568.jpg" class="img-fluid rounded"
                        alt="...">
                    <!-- </div> -->
                </div>
                <div class="col-lg-6 col-6 card-info">
                    <div class="card-body mx-5 card-info">
                        <h4 class="card-title font-fm mb-5">Привіт! Познайомимось?</h4>
                        
                        <p class="card-text font-fm card-p">Monosushi – це доставка найсмачніших суші у Львові, яка була
                            створена
                            командою перфекціоністів. Двоє друзів, які
                            обожнюють роли вирішили створити продукт, якого їм не вистачало на ринку Львова.
                            Продукт, в
                            якому ідеальним буде все:
                            смак, упакування, сервіс і все це за лояльною ціною!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 card-border">
            <div class="row g-0">
                <div class="col-lg-6 col-6 card-info">
                    <div class="card-body me-5 card-info">
                        <h4 class="card-title font-fm mb-5">Наш пріоритет - ваша посмішка від задоволення</h4>
                        <p class="card-text font-fm card-p"><b>Monosushi</b> – це доставка одного (mono) продукту. Роли вже давно стали рядовою стравою, проте процес їх приготування
                        всеодно залишається цілим мистецтвом. Суші потрібно готувати за чіткою технологією суворо дотримуючись традицій. І в
                        цьому ми справжні експерти! Сумніваєтесь? Тоді замовляйте безкоштовну доставку Monosushi і насолоджуйтесь.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <!-- <div class="block-img"> -->
                    <img src="../../../assets/images/img_8051-scaled-568x568.jpg" class="img-fluid rounded"
                        alt="...">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="spacer-lg"></div>
    
    <div class="container">
        <div class="row sm-banner-info">
            <div class="col-xl-10 col-lg-12 col-12 text-center">
                <div class="center-info font-fm">
                    <h3>Наші переваги</h3>
                </div>
            </div>
        </div>
        
        <div class="spacer-lg"></div>

        <div class="row g-0">
            <div class="col-lg-3 col-3 card-adv left">
                <div class="adv-item-img">
                    <img src="../../../assets/images/advantages-img-1.svg" alt="...">
                </div>
                <div class="card-body mx-5 card-adv">
                    <h4 class="card-title font-fm mb-2">Свіжі продукти</h4>
                    <p class="card-text font-fm">Наші інгредієнти ще вчора плавали у морі, а сьогодні вже у Ваших сушиках</p>
                </div>
            </div>
            <div class="col-lg-3 col-3 card-adv left">
                <div class="adv-item-img">
                    <img src="../../../assets/images/advantages-img-2.svg" alt="...">
                </div>
                <div class="card-body mx-5 card-adv">
                    <h4 class="card-title font-fm mb-2">Неймовірний смак</h4>
                    <p class="card-text font-fm">Ми створили сушики, які змусять Ваші рецептори вибухнути від насолоди</p>
                </div>
            </div>
            <div class="col-lg-3 col-3 card-adv left">
                <div class="adv-item-img">
                    <img src="../../../assets/images/advantages-img-3.svg" alt="...">
                </div>
                <div class="card-body mx-5 card-adv">
                    <h4 class="card-title font-fm mb-2">Великі порції</h4>
                    <p class="card-text font-fm">Ми віднайшли ідеальні порції ролів та завжди дотримуємось грамажу вказаного на
                        сайті</p>
                </div>
            </div>
            <div class="col-lg-3 col-3 card-adv">
                <div class="adv-item-img">
                    <img src="../../../assets/images/advantages-img-4.svg" alt="...">
                </div>
                <div class="card-body mx-5 card-adv">
                    <h4 class="card-title font-fm mb-2">Чистота на кухні</h4>
                    <p class="card-text font-fm">Ми як ніхто інший розуміємо, що морепродукти потребують абсолютної чистоти на кухні</p>
                </div>
            </div>
        </div>

    </div>

    <div class="spacer-lg"></div>

    <div class="container">
        <div class="row sm-banner-info">
            <div class="col-xl-10 col-lg-12 col-12 text-center">
                <div class="center-info font-fm">
                    <h3>Популярні запитання</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-9 col-lg-10 col-12">
                <section class="section7" id="functions">
                    <div class="container">
                        <div class="navigaonusing">
<!--  -->
        <details>
            <summary>Як можна замовити, якщо наша адреса не входить у вашу зону доставки?</summary>
            <div class="sum-content">
                <p>Якщо ваша адреса знаходиться поза межами нашої зони доставки, ви можете:</p>
                <ul class="list" id="list">
                    <li>Забрати замовлення самовивозом за однією з наших адрес. (В такому випадку ви отримаєте “Запечені моно
                        макі з лососем у
                        подарунок).</li>
                    <li>Дізнатись в оператора чи є можливість зробити виключення для доставки поза межі зони в даний момент
                        часу.</li>
                </ul>
            </div>
        </details>

        <details>
            <summary>Скільки часу очікувати на замовлення?</summary>
            <div class="sum-content">
                <p>Час доставки залежить від адреси замовлення.<br>
                Доставка в зелену зону – до 1 год.<br>
                Доставка в жовту зону – до 1,5 год.</p>
            </div>
        </details>

        <details>
            <summary>Доставка безкоштовна?</summary>
            <div class="sum-content">
                <p>Так, доставка безкоштовна при мінімальній сумі замовлення 200 грн в зелену зону доставки та 300 грн в жовту
                зону.</p>
            </div>
        </details>

        <details>
            <summary>До якої години ви приймаєте замовлення?</summary>
            <div class="sum-content">
                <p>Ми приймаємо замовлення кожного дня з 11:00 по 21:30 ( у зв’язку з комендантською годиною )</p>
            </div>
        </details>

<!--  -->
