<footer>
    <div class="footer-inner ft-border-top mt-5 mb-5">
        <div class="row footer-top mt-3">
            <div class="col-4 d-flex flex-column justify-content-center align-items-start">
                <a class="navbar-brand mono-brand ms-3" [routerLink]="[ '/' ]">
                    <img src="../../../assets/images/logo.svg" alt="">
                </a>
            </div>

            <div class="col-2 d-flex flex-row justify-content-between align-items-center">
                <a routerLink="discount" routerLinkActive="route-active" class="nav-link fs-6 text-center"  style="width: 30%" aria-current="page">
                    <span class="descr fs-sm-link">
                        Акції
                    </span>
                </a>
                <a routerLink="about" routerLinkActive="route-active" class="nav-link fs-6  text-center"  style="width: 30%" aria-current="page">
                    <span class="descr fs-sm-link">
                        Про нас
                    </span>
                </a>
                <a routerLink="delivery" routerLinkActive="route-active" class="nav-link fs-6  text-center"  style="width: 30%" aria-current="page">
                    <span class="descr fs-sm-link">
                        Оферта
                    </span>
                </a>

            </div>
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <span class="fst-normal fs-sm-title">Точки самовивозу</span>
                <span class="fst-normal fs-sm-info">вул. Володимира Великого, 10в</span>
                <span class="fst-normal fs-sm-info">вул. Чорновола, 95</span>
            </div>

            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <span class="p-0 fst-normal fs-sm-title">Оформити замовлення</span>
                <a 
                    routerLink="delivery" 
                    routerLinkActive="route-active" 
                    class="nav-link fs-5" aria-current="page">
                    <span class="p-0 fs-sm-info">(097) 878 08 37</span>
                </a>
            </div>

            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <span class="fst-normal fs-sm-title">Графік роботи</span>
                <span class="fst-normal fs-sm-info">працюємо з 11:00 до 22:30</span>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-4 d-flex flex-column justify-content-center align-items-start">
                <span class="fst-normal  ms-3 fs-sm-info">© 2023 Monosushi</span>
            </div>

            <div class="col-2 d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center nav-image">
                    <img src="../../../assets/images/pay-card-img-1.svg" class="nav-image-card">
                </div>
                <div class="d-flex justify-content-center align-items-center nav-image">
                    <img src="../../../assets/images/pay-card-img-2.svg" class="nav-image-card">
                </div>
                <div class="d-flex justify-content-center align-items-center nav-image">
                    <img src="../../../assets/images/pay-card-img-3.svg" class="nav-image-card">
                </div>               
            </div>

            <div class="col-2 d-flex flex-row justify-content-around align-items-center">
                <span class="fst-normal fs-sm-info">Слідкуйте за нами</span>
                <button type="button" class="btn text-center phone-btn d-flex justify-content-center align-items-center">
                    <a class="icon-btn" href="https://www.facebook.com/monosushi.com.ua" target="_blank">
                        <img src="../../../assets/images/facebook-icon.svg" alt=""
                            oncontextmenu="return false"> 
                    </a>
                </button>
                <button type="button" class="btn text-center phone-btn d-flex justify-content-center align-items-center">
                    <a class="icon-btn" href="https://www.instagram.com/monosushi.com.ua" target="_blank">
                        <img
                            src="../../../assets/images/instagram-icon.svg" alt=""
                            oncontextmenu="return false">
                    </a>
                </button>
            </div>

            <div class="col-2 d-flex flex-row justify-content-center align-items-start">
            </div>

            <div class="col-2 d-flex flex-row justify-content-around align-items-center">
                        <a class="nav-link d-flex justify-content-center nav-button draw" aria-current="page">
                            <span class="fst-normal fs-sm-info">
                                Створення сайтів
                            </span>
                            <img src="../../../assets/images/redstone.svg" class="ms-3" width="30%">
                        </a>
            </div>
        </div>
    </div>
</footer>
