@import '../../shared/styles/variables';
@import '../../shared/styles/style.scss';

.box-form {
    &::after {
        position: fixed;
    }
}

.add-button {
    width: 100%;
    height: 100%;
    background-color: $primary-bg-color;
    padding: 20px 0;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 700;
    outline: 1px solid $primary-bg-color;
}

.table {
    font-size: 22px;
    margin-top: 50px;
    border: none;
    overflow: scroll;
    // height: 800px;

    thead tr th {
        font-weight: 600;
    }

    tbody tr {
        &:first-child {
            border-top: 4px solid $primary-bg-color;
        }
    }

    tbody tr {
        height: auto;
    }

    tbody tr td {
        font-size: 18px;
        vertical-align: middle;
        // border-bottom: 1px solid rgb(211, 211, 211);
        border: none;
        word-break: break-all;

        img {
            display: block;
            margin: 0 auto;
        }

        .btn {
            outline: none;
            border: none;
            height: 100%;
            color: $primary-bg-color;
            font-size: 20px;
            text-align: center;
            text-decoration-line: none;

            &:hover {
                color: $primary-text-color-hover;
            }
        }

    }
}

.form {
    padding: 0;
    margin-top: 50px;
    width: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

b {
    color: rgb(227, 43, 43)
}

.bg-custom {
    background-color: $primary-bg-color;
}

.input-width {
    width: 50%;
}

.box {
    // height: 200px;
    border-radius: 4px;
    border: 1px solid #d1cfcf
}

.btn-light {
    background-color: #e9ecef;
    border-color: #ced4da;
}

.table-hover {
    position: relative;
}

.table-hover>tbody>tr:hover>* {
    color: #252525;
    background-color: $primary-bg-color;
}

.table-hover>tbody>tr:hover>td>button {
    color: #252525;
}

.table-hover tbody tr .active:after {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

.table-hover tbody tr .active  {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}
