<section class="home">
    <div class="margin-header"></div>
    <div class="container">
        <div class="p-5">
            <p class="home-text p-0">
                Ми - це доставка <span class="main-color">щастя.</span>
            </p>
            <p class="home-text  p-0">
                <span class="main-color">Monosushi</span> - ми
                любими коли <br>тобі смачно.
            </p>

            <p class="info-text  p-0">
                Найсмачніші сушики вже чекають на тебе. Не барись, а забирай свої <br>улюблені позиції і вже скоро вони
                будуть у тебе.
            </p>
            <button routerLink="product" routerLinkActive="route-active" class="btn btn-success btn-mono mt-5 mb-5"> Детальніше
            </button>

        </div>
    </div>
</section>

<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 p-1 d-flex justify-content-evenly align-items-center border-end border-secondary-subtle">
                <img src="../../../assets/images/mn-delivery-img.svg" height="90px">
                <button routerLink="delivery" routerLinkActive="route-active" class="btn btn-success btn-mono-white mt-5 mb-5"> Зони доставки
                </button>
            </div>
            <div class="col-2 p-1 d-flex justify-content-end align-items-center">
                <img src="../../../assets/images/mono-supermen.svg" height="90px">
            </div>
            <div class="col-2 p-1 d-flex flex-column justify-content-center align-items-center border-end border-secondary-subtle">
                <h6>Середній час доставки в</h6>
                <h6>зеленій зоні <b>00:43:00 </b></h6>
            </div>
            <div class="col-2 p-1 d-flex justify-content-end align-items-center">
                <img src="../../../assets/images/mono-bonus.svg" height="90px">
            </div>
            <div class="col-2 p-1 d-flex flex-column justify-content-center align-items-center">
                <h6>Наш графік роботи</h6>
                <h6>Працюємо з <b>11:00</b> до <b>23:59</b></h6>
            </div>
        </div>
    </div>
</section>