<div class="container-fluid">
    <div class="row">
        <div class="col-3 px-5 mt-1">
            <button type="button" class="add-button w-100" (click)="toggleOpenForm()">{{ isViewForm ? 'Закрити' :
                'Додати продукт' }}</button>
        </div>
    </div>

    <!-- <div class="row"> -->
    <ng-container *ngIf="isViewForm">
        <div class="collapse" id="collapseExample" [ngClass]="{'show': isViewForm}">
            <section id="edit">
                <div class="col-10 px-5 m-0">
                    <form [formGroup]="productForm" id="productForm" class="form" (ngSubmit)="addProduct()">

                        <div class="mb-3 d-flex flex-row justify-content-evenly">
                            <div class="col mb-3 p-1">
                                <label for="name" class="form-label">Категорія</label>
                                <select formControlName="category" [ngModel]="adminCategories[idxCategory]" (change)="onHideCategory()" class="form-select font-input">
                                    <option [ngValue]="category" *ngFor="let category of adminCategories">{{category.name}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="isVisibleGroup" class="col mb-3 p-1">
                                <label for="name" class="form-label">Група</label>
                                <select formControlName="group" class="form-select font-input" [ngModel]="adminGroups[idxGroup]">
                                    <option [ngValue]="group" *ngFor="let group of adminGroups">{{group.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 d-flex flex-row justify-content-evenly">
                            <div class="form-floating input-width p-1">
                                <input formControlName="name" name="name" type="text" class="form-control font-input" id="name"
                                    placeholder="*назва..">
                                <label for="name">Назва
                            
                                </label>
                            </div>

                            <div class="form-floating input-width p-1">
                                <input formControlName="path" name="path" type="text" class="form-control font-input" id="path"
                                    placeholder="*маршрут..">
                                <label for="path">Маршрут
                        
                                </label>
                            </div>
                        
                        </div>

                        <div class="mb-3 d-flex flex-row justify-content-between">
                            <div class="form-floating input-width p-1">
                                <input formControlName="sklad" name="title" type="text" class="form-control font-input" id="sklad"
                                    placeholder="*склад">
                                <label for="sklad">Склад
                            
                                </label>
                            </div>

                            <div class="form-floating input-width-number p-1">
                                <input formControlName="weight" name="weight" type="text" class="form-control font-input" id="weight"
                                    placeholder="*вага">
                                <label for="weight">Вага
                            
                                </label>
                            </div>
                            <div class="form-floating input-width-number p-1">
                                <input formControlName="price" name="price" type="number" class="form-control font-input" id="price"
                                    placeholder="*ціна">
                                <label for="price">Ціна
                            
                                </label>
                            </div>

                        </div>

                        <div class="p-1">
                            <div class="mb-3 mt-3 w-100 d-flex flex-row justify-content-start align-items-end"
                                style="height: 100px">
                                <img [src]="valueByControl('imgPath')" style="height: 100%" alt="">

                                <button *ngIf="isDelete" class="btn btn-danger mx-3" (click)="deleteImage()">Delete
                                </button>
                            </div>

                            <div class="mb-3 d-flex flex-row justify-content-start align-items-center box p-2 w-100">
                                <div class="mb-3 w-100">
                                    <label for="formFile" class="form-label font-input">Завантажите зображення</label>
                                    <input class="form-control" type="file" id="formFile" (change)="upload($event)">
                                </div>
                            </div>

                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                    [style.width.%]="uploadPercent" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="mb-3">
                        </div>
                        <div class="col-2 d-flex justify-content-between  p-1">
                            <button [disabled]="productForm.invalid" type="submit" class="btn btn-success w-50">
                                {{ editStatus ? 'Save' : 'Add' }}
                            </button>
                        </div>
                    </form>

                </div>
            </section>
        </div>
    </ng-container>

    <div class="col-12 px-5">
        <div class="mb-1 d-flex flex-row justify-content-start">
            <div class="col-2 mt-4 p-1">
                <label for="name" class="form-label">Категорія</label>
                <select [(ngModel)]="currentCategory" class="form-select" (change)="onSelectProduct()">
                    <!-- <option >Всі
                    </option> -->
                    <option [ngValue]="category" *ngFor="let category of adminCategories">{{category.name}}
                    </option>
                </select>
            </div>
            
            <div *ngIf="isVisibleGroup" class="col-2 mt-4 p-1">
                <label for="name" class="form-label">Група</label>
                <select class="form-select" [(ngModel)]="currentGroup" (change)="onSelectProduct()">
                    <option [ngValue]="group" *ngFor="let group of adminGroups">{{group.name}}
                    </option>
                </select>
            </div>
        </div>

        <table class="table table-striped pb-5">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">Категорія</th>
                    <th scope="col" style="width: 10%">Група</th>
                    <th scope="col" style="width: 20%">Назва</th>
                    <th scope="col" style="width: 20%">Склад</th>
                    <th scope="col" style="width: 10%">Вага</th>
                    <th scope="col" style="width: 10%">Ціна</th>
                    <th scope="col" style="width: 10%; text-align: center;">Картинка</th>
                    <th scope="col" style="width: 10%; text-align: center;">Дії</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of adminProducts">
                    <td> {{ product.category.name }}</td>
                    <td> {{ product.group.name }}</td>
                    <td> {{ product.name }}</td>
                    <td> {{ product.sklad }}</td>
                    <td> {{ product.weight }}</td>
                    <td> {{ product.price }}</td>
                    <td style="text-align: center;">
                        <img src="{{ product.imgPath }}" alt="" style="width: 50%">
                    </td>
                    <td style="text-align: center;">
                        <button [disabled]="editStatus" (click)="editProduct(product)" type="button"
                            class="btn w-100 p-0">Редагувати
                        </button>
                        <button [disabled]="editStatus" (click)="deleteProduct(product)" type="button"
                            class="btn w-100 p-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Видалити
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-custom text-dark">
                        <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel">Видалити продукт</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Підтвердіть видалення продукту <b>"{{
                                currentProductName }}"</b> </h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-custom" data-bs-dismiss="modal"
                            (click)="deleteProductById(currentProductId)">Delete
                        </button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
